@font-face{
font-family:'ProximaNovaSoft';
src:url('assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Regular.otf');
}	
@font-face{
font-family:'ProximaNovaSoft-medium';
src:url('assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Medium.otf');
}	
@font-face{
font-family:'ProximaNovaSoft-bold';
src:url('assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Bold.otf');
}	
@font-face{
font-family:'ProximaNovaSoft-semibold';
src:url('assets/Fonts/Proxima Nova Soft/ProximaNovaSoft-Semibold.otf');
}	
body{
font-family:'ProximaNovaSoft';
}
ul{
list-style:none;
display:inline;
}
header{
position:fixed;
left:-294px;
top:0;
height:568px;
width:294px;
}
#top-header{
height:153px;
line-height:153px;
background-image:url('assets/Images/Side Menu/menu-header-bg.png');
color:white;
}
#back{
height:30px;
width:30px;
}
#menu{
float:left;
margin-top:10px;
margin-left:10px;
height:30px;
width:30px;
}
img{
vertical-align:middle;
}
a{
text-decoration:none;
color:#8D52BA;
font-size:16px;
}
li{
height:55px;
line-height:55px;
vertical-align:middle;
background-color:#FFFFFF
}
li:hover{
background-color:#F7F0FC;
}
#content,#top-content,#top-content2{
width:100%;
}
span{
vertical-align:middle;
}
#top-content{
font-size:20px;
color:#FFFFFF;
background-color:#77439E;
text-align:center;
height:56px;
line-height:56px;
}
#top-content-2{
text-align:center;
background-color:#77539E;
height:200px;
color:white;
}
table{
width:100%;
align:center;
}
th{
padding-left:10px;
height:42px;
width:100%;
color:white;
background-color:#77439E;
text-align:left;
}
#num-id{
font-size:32px;
}
#value{
font-size:24px;
}
.value-pos{
font-family:ProximaNovaSoft-semibold;
font-size:16px;
color:#16967A;
}
.value-neg{
font-family:ProximaNovaSoft-semibold;
font-size:16px;
color:#E44235;
}
.type{
font-size:14px;
color:#959595;
}
.where{
font-family:ProximaNovaSoft-semibold;
font-size:16px;
color:#959595;
}
.date{
font-family:ProximaNovaSoft-medium;
font-size:14px;
color:#959595;
opacity:60%;
}
table tr:nth-child(2n+1){
background-color:#F1F1F1;
}
table tr{
height:65px;
}